//
// Base
// --------------------------------------------------

@include establish-baseline;

html {
	@include adjust-leading-to(5.5);
}

body {
	@extend %t-base;	
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	letter-spacing: $base-letter-spacing;
	color: $base-font-color;
	background-color: $body-bg-color;
}

// #content p {
// 	@extend %t-base;
// }


#wrapper {
	background-color: $body-bg-color;
}


#content {
	overflow: visible;
	width: 100%;
	background-color: $body-bg-color;

	.content-wrap {
		padding: vs(8) 0 vs(14) 0;
		
	}
}



.main-content {
	position: relative;

	&::before {
		position: absolute;
		content: '';
		pointer-events: none;

		right: 0;
		left: 0;
		z-index: 10;
		display: block;
		height: rhythm(2);

		top: rhythm(-2);
		background-image: url(../images/main-bg-grunge.svg);
		background-position: top center;
	}
}


::selection {
	background: $brand-green;
	color: inherit;
}



#gotoTop {
	&:hover {
		background-color: $brand-accent;
	}
}