//
// Base
// --------------------------------------------------

@include establish-baseline;

html {
	@include adjust-leading-to(5.5);
}

body {
	@include type-resp(base);	
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	letter-spacing: .3px;
	color: $base-font-color;
	background-color: $body-bg-color;

	@include breakpoint($bp-sm) {
		letter-spacing: $base-letter-spacing;
	}
}

// #content p {
// 	@extend %t-base;
// }


#wrapper {
	background-color: $body-bg-color;
}


.container, 
#header.full-header .container, 
.container-fullwidth {
	@include breakpoint($bp-xs-sm) {
		width: 100% !important;
		padding-left: 5%;
		padding-right: 5%;
	}
	@include breakpoint($bp-xs-max) {
		width: 100% !important;
		//padding-left: 5%;
		//padding-right: 5%;
	}
}


.container {
	padding-left: 25px;
	padding-right: 25px;
	@include breakpoint($bp-sm) {
		padding-left: 15px;
		padding-right: 15px;
	}
}


#content {
	overflow: visible;
	width: 100%;
	background-color: $body-bg-color;

	.content-wrap {
		padding: rhythm(10) 0 rhythm(22) 0;
		@include breakpoint($bp-sm) {
			padding: rhythm(16) 0 rhythm(28) 0;
		}
	}
}



.main-content {
	position: relative;

	&::before {
		position: absolute;
		content: '';
		pointer-events: none;

		right: 0;
		left: 0;
		z-index: 10;
		display: block;
		height: rhythm(2);

		top: rhythm(-2);
		background-image: url(../images/main-bg-grunge.svg);
		background-position: top center;
	}
}


::selection {
	background: $brand-green;
	color: inherit;
}



#gotoTop {
	&:hover {
		background-color: $brand-accent;
	}
}