//
// Typography
// --------------------------------------------------

p, 
pre, 
ul, 
ol, 
dl, 
dd, 
blockquote, 
address, 
table, 
fieldset, 
form {	
	margin-bottom: 0;

	.type-main & {
		@include margin-leader($ru-base - 2);
		@include breakpoint($bp-sm) {
			@include margin-leader($ru-base);
		}
	}
}

a {
	@include set-link-color("accent");
}

.more-link {
	padding: 0;
	@include font-style(magneta, thin, italic);
	border-bottom: none;
	&:after {
		margin-left: 6px;
		display: inline-block;
		content: ' ';
		background-image: url(../images/icon-more.svg);
		background-size: 14px 8px;
		width: 14px;
		height: 8px;
	}
}



// Headings
// --------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
	@include margin-leader($ru-lg - 2);
	@include breakpoint($bp-sm) {
			@include margin-leader($ru-lg);
		}

	@include font-style(akagi, bold, normal, $forest-green);
	letter-spacing: 0;

	+ p {
		@include margin-leader($ru-base - 2);
		@include breakpoint($bp-sm) {
			@include margin-leader($ru-base);
		}
	}
}

h1 {
	//@extend %t-mega;
	@include type-resp(mega);
}

h2 {
	//@extend %t-huge;
	@include type-resp(huge);
	letter-spacing: -.5px;
}

h3 {
	//@extend %t-xxl;
	@include type-resp(xxl);
	letter-spacing: -.5px;
}

h4 {
	//@extend %t-xl;
	@include type-resp(xl);
	letter-spacing: -.5px;
}

h5 {
	//@extend %t-lg;
	@include type-resp(lg);
	letter-spacing: -.5px;
}

h6 {
	//@extend %t-md;
	@include font-style(magneta, thin, italic, $soya-bean);
	@include type-resp(md);
	letter-spacing: 1px;
}


h3 + h6,
h4 + h6 {
	@include margin-leader($ru-sliver);
}


.hd-thankyou {
	@include font-style(akagi, bold, normal, $forest-green);
	@include type-resp(xxl);
	letter-spacing: -2px;
}
.hd-sub {
	margin-bottom: 0;
	font-family: 'Crete Round', serif;
	font-style: italic;
	color: #ccc;
}
.hd-alt {
	font-family: 'Crete Round', serif;
	font-style: italic;
}





// Type
// --------------------------------------------------

.type-main {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		+ p {
			@include margin-leader($ru-base - 4);
			@include breakpoint($bp-sm) {
				@include margin-leader($ru-base - 2);
			}
		}
	}
}




// Images
// --------------------------------------------------

.img-rounded {
	@include border-radius(4px);
}




// Lines
// --------------------------------------------------

.line,
.double-line {
	@include rhythm-margins(12);
	border-color: $main-border-color;
}






// Blocks, can be used outside of row-blocks
// These are base styles, without being in the matrix
// --------------------------------------------------

.b-title {
	margin-top: 0;

	@include font-style(akagi, bold, normal, $forest-green);
	//@include fs(huge);
	@include type-resp(mega);
	letter-spacing: -2px;

	// @include breakpoint($bp-sm) {
	// 	@include fs(mega);
	// }
}


.b-intro {
	//margin-top: $b-mrg;
	@include margin-leader(8);
	//@include fs(md);
	@include type-resp(md);

	// p {
	// 	@include adjust-leading-to($fl-md);
	// }

	p:first-of-type {
		margin-top: 0;
	}
}


.b-heading {
	margin-bottom: 0;

	&:after {
		margin: 0 !important;
		border-top: none;
	}

	h2 {
		@include margin-trailer(4);

		@include font-style(magneta, semibold, normal, $forest-green, none);
		//@include fs(huge);
		@include type-resp(huge);
		letter-spacing: .5px;
	}

	h2 + span {
		//@include fs(md);
		@include type-resp(md);
	}

	> span {
		@include font-style(magneta, book, normal, $soya-bean !important);
		//@include fs(md);
		@include type-resp(md);
		letter-spacing: 1px;

		&:not(.before-heading) {
			@include margin-leader($ru-sm);
		}

		&.before-heading {
			@include font-style(akagi, light, normal, $brand-accent !important);
			//@include fs(md);
			@include type-resp(md);
			letter-spacing: 1.5px;
		}
	}

	span + h2 {
		margin-top: 0;
	}

	&.center > span {
		max-width: none;
	}
}


.b-testimonial {
	p {
		@include margin-leader($ru-base - 2);
	}
}


.b-text {
	img {
		@include margin-leader($ru-base - 2);
		@include breakpoint($bp-sm) {
			@include margin-leader($ru-base);
		}
	}

	.pull-right {
		margin-left: 60px;
		@include margin-trailer($ru-sm);
	}
	.pull-right--more {
		@include breakpoint($bp-md) {
			margin-right: -100px;
		}
		@include breakpoint($bp-lg) {
			margin-right: -200px;
		}
	}

	.pull-left {
		margin-right: 30px;
		@include margin-trailer($ru-sm);
	}
	.pull-left--more {
		@include breakpoint($bp-md) {
			margin-left: -100px;
		}
		@include breakpoint($bp-lg) {
			margin-left: -200px;
		}
		
	}

	img.pull-left,
	img.pull-right {
		+ h1,
		+ h2,
		+ h3,
		+ h4,
		+ h5,
		+ h6 {
			margin-top: 0;
			@include padding-leader($ru-sm - 1);
		}
	}
}



.row-block {
	@include margin-leader($ru-lg - 4);
	@include breakpoint($bp-sm) {
		@include margin-leader($ru-lg);
	}

	&.row-b-split-2 .b-col {
		@include margin-leader($ru-lg - 4);
		@include breakpoint($bp-sm) {
			@include margin-leader($ru-lg);
		}
		&:first-child {
			margin-top: 0;
		}

		@include breakpoint($bp-md) {
			margin-top: 0;
		}
	}
}

.row-b-split-2 {
	.b-col-left.b-col-x-pad .b {
		@include breakpoint($bp-sm) {
			padding-left: 40px;
			padding-right: 40px;
		}
		@include breakpoint($bp-md) {
			padding-left: 70px;
			padding-right: 30px;
		}
	}
	.b-col-right.b-col-x-pad .b {
		@include breakpoint($bp-sm) {
			padding-left: 40px;
			padding-right: 40px;
		}
		@include breakpoint($bp-md) {
			padding-left: 30px;
			padding-right: 70px;
		}
	}
}

.row-b-mrg { 
	@include margin-leader($ru-base); 
	@include breakpoint($bp-sm) {
		@include margin-leader($ru-base);
	}
}
.row-b-mrg-xl { 
	@include margin-leader($ru-xl - 4); 
	@include breakpoint($bp-sm) {
		@include margin-leader($ru-xl);
	}
}

.row-b-title {
	margin-top: 0;
}

.row-b-title + .row-b-intro {
	@include margin-leader($ru-base);
}

.row-b-heading {
	@include margin-leader($ru-xl - 4);
	@include breakpoint($bp-sm) {
		@include margin-leader($ru-xl);
	}
}

.row-block {
	.b-intro {
		margin-top: 0;
	}

	.b-text {
		p:first-child {
			margin-top: 0;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&:first-child {
			margin-top: 0;
		}
	}

	img {
		+ h1,
		+ h2,
		+ h3,
		+ h4,
		+ h5,
		+ h6 {
			@include margin-leader($ru-base - 4);
			@include breakpoint($bp-sm) {
				@include margin-leader($ru-base - 2);
			}
			+ p {
				@include margin-leader($ru-base - 7);
				@include breakpoint($bp-sm) {
					@include margin-leader($ru-base - 5);
				}
			}
		}
	}
}

.row-b-split {
	.b {
		h3:first-of-type {
			@include margin-leader($ru-sm - 1);
		}
	}
}