//
// Utils
// --------------------------------------------------



.t-hippie-green			{ color: $hippie-green; }


// Font Sizes
// --------------------------------------------------

.fs-xs			{ @extend %t-xs; }
.fs-sm			{ font-size: $fs-sm; }
.fs-base		{ font-size: $fs-md; }
.fs-md			{ font-size: $fs-md; }
.fs-lg			{ font-size: $fs-lg; }
.fs-xl			{ font-size: $fs-xl; }
.fs-xxl			{ font-size: $fs-xxl; }
.fs-super		{ font-size: $fs-huge; }
.fs-mega		{ font-size: $fs-mega; }





.fs-italic {
	font-style: italic !important;
}



// Spacing
// --------------------------------------------------

// .b-mrg-sliver		{ margin-bottom: $b-mrg-sliver; }
// .b-mrg-sm				{ margin-bottom: $b-mrg-sm; }
// .b-mrg					{ margin-bottom: $b-mrg; }
// .b-mrg-lg				{ margin-bottom: $b-mrg-lg; }


.mb-remove	{ margin-bottom: 0 !important; }
.mt-remove	{ margin-top: 0 !important; }

.mt-img-push		{ @include margin-leader($ru-sm); }

.mb-sliver			{ @include margin-trailer($ru-sliver); }

.p-button {
	@include margin-leader(4);
}

.pt-lg {
	padding-top: 80px;
}

.pb-lg {
	padding-bottom: 80px;
}


.before-heading {
	margin-bottom: 0;
}



.section-line {
	margin-top: 60px;
	margin-bottom: 60px;

	.line,
	.double-line {
		margin: 0;
	}
}



// Images
// --------------------------------------------------

.img-full {
	width: 100%;
}

.img-md-medium {
	@include breakpoint($bp-md) {
		width: 470px;
	}
}
