//
// Utils
// --------------------------------------------------

.pt-lg {
	padding-top: 80px;
}

.pb-lg {
	padding-bottom: 80px;
}


.before-heading {
	margin-bottom: 0;
}



.section-line {
	margin-top: 60px;
	margin-bottom: 60px;

	.line,
	.double-line {
		margin: 0;
	}
}