//
// Vars
// --------------------------------------------------




// Colors
// --------------------------------------------------

$white: #fff;
$birch: #363020;
$eternity: #1F180E;

$soya-bean: #686357;
$friar-gray: #868279;
$quill-gray: #D6D5D2;
$cloud: #C4C1BB;
$dawn: #AEACA5;

$web-orange: #FFA900;

$forest-green: #2A7221;
$mantis: #81C14B;
$hippie-green: #548E4D;

$brand-orange: $web-orange;
$brand-green: $forest-green;
$brand-accent: $mantis;

$invalid: #b70f00;

$body-bg-color: #FCFCFB;
$main-border-color: lighten($birch, 75%);
$base-font-color: $birch;



%link-accent {
  color: $brand-accent;
  &:hover {
    color: saturate($brand-accent, 10%);
  }
}

%link-orange {
  color: $brand-orange;
  &:hover {
    color: saturate($brand-orange, 50%);
  }
}

@mixin set-link-color($color) {
  @extend %link-#{$color};
}





// MQ Breakpoints
// --------------------------------------------------

$breakpoints: (
  bp-xs:    480px,
  bp-sm:    768px,
  bp-md:    992px,
  bp-lg:    1200px
);

// For Responsive Mixin (chained mq)
$named-breakpoints: (
    "xs": 480px,
    "sm": 768px,
    "md": 992px,
    "lg": 1200px
); 

$bp-xs: 480px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

$bp-max-md: max-width 991px;

$full-hd-height: rs(19);
$sticky-hd-height: rs(12);
$mobile-hd-height: rs(15);





// Spacing
// --------------------------------------------------

// $base-mrg-sliver: vs(.5);
// $base-mrg-sm: vs(2);
// $base-mrg: vs(4);
// $base-mrg-lg: vs(7);
// $base-mrg-xl: vs(10);

// $b-mrg-sliver: vs(.5);
// $b-mrg-sm: vs(2);
// $b-mrg: vs(4);
// $b-mrg-lg: vs(7);
// $b-mrg-xl: vs(10);

$grs-sliver:   1;
$grs-sm:       4;
$grs-base:     8;
$grs-lg:       14;
$grs-xl:       20;

$ru-sliver: 	1;
$ru-sm: 			4;
$ru-base: 		8;
$ru-lg:				14;
$ru-xl:				20;


// Global Rhytm Space used for Global 
@mixin grs($size, $lines: null) {
  // $lines: allows for override of custom line rhythum unit

  @if $size == "xs" {
    @include adjust-font-size-to($fs-xs);
    @if $lines {
      @include adjust-leading-to($lines);
    } @else {
      @include adjust-leading-to($fl-xs);
    }
  }
  @if $size == "sm" {
    @include adjust-font-size-to($fs-sm);
    @if $lines {
      @include adjust-leading-to($lines);
    } @else {
      @include adjust-leading-to($fl-sm);
    }
  }
  @if $size == "base" {
    @include adjust-font-size-to($fs-base);
    @if $lines {
      @include adjust-leading-to($lines);
    } @else {
      @include adjust-leading-to($fl-base);
    }
  }
  @if $size == "md" {
    @include adjust-font-size-to($fs-md);
    @if $lines {
      @include adjust-leading-to($lines);
    } @else {
      @include adjust-leading-to($fl-md);
    }
  }
}

