<article class="portfolio-item pf-media pf-icons">
  <div class="portfolio-image">
      <a href="project-gallery.html">
          <img src="{{canvasImagesPath}}portfolio/2/1.jpg" alt="Project/Gallery Image">
      </a>
      <div class="portfolio-overlay">
          <a href="project-gallery" class="center-icon"><i class="icon-line-ellipsis"></i></a>
      </div>
  </div>
  <div class="portfolio-desc">
      <h3><a href="project-gallery">Gallery Name</a></h3>
      <span>Gallery Meta</span>
  </div>
</article>