<div class="panel panel-default panel-team bottommargin-lg">
		          <div class="panel-body">
		            <div class="team team-list clearfix">
			            <div class="team-image">
			                <img src="{{canvasImagesPath}}team/3.jpg" alt="Mike Bouffard">
			            </div>
			            <div class="team-desc">
			                <div class="team-title"><span>Written by</span> <h4>Mike Bouffard</h4></div>
			                <div class="team-content">
			                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla.</p>
			                </div>
			                <a href="#" class="social-icon si-borderless si-small si-facebook">
			                    <i class="icon-facebook"></i>
			                    <i class="icon-facebook"></i>
			                </a>
			                <a href="#" class="social-icon si-borderless si-small si-twitter">
			                    <i class="icon-twitter"></i>
			                    <i class="icon-twitter"></i>
			                </a>
			                <a href="#" class="social-icon si-borderless si-small si-linkedin">
			                    <i class="icon-linkedin"></i>
			                    <i class="icon-linkedin"></i>
			                </a>
			            </div>
			        </div>
		        </div>
		      </div>