 <div class="ipost clearfix">
    <div class="entry-image">
        <a href="#"><img class="image_fade" src="{{canvasImagesPath}}magazine/thumb/1.jpg" alt="Post Image"></a>
    </div>
    <div class="entry-title">
        <h3><a href="#">Blog Post Title</a></h3>
    </div>
    <ul class="entry-meta clearfix">
        <li><i class="icon-calendar3"></i> Jan 2, 2014</li>
    </ul>
    <div class="entry-content">
        <p>Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.</p>
    </div>
</div>