 <div class="ipost clearfix">
    <div class="entry-image">
        <a href="learn/post"><img class="image_fade" src="http://placehold.it/370x252/363020/1F180E" alt="Post Image"></a>
    </div>
    <div class="entry-title">
        <h3><a href="learn/post">Blog Post Title</a></h3>
    </div>
    <ul class="entry-meta clearfix">
        <li>Jan 2, 2014</li>
    </ul>
    <div class="entry-content">
        <p>Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.</p>
        <a class="more-link" href="learn/post">Read more</a>
    </div>
</div>