<div id="page-menu" class="no-sticky">

    <div id="page-menu-wrap">

        <div class="container clearfix">

            <div class="menu-title">Our <span>Work</span></div>

            <nav>
                <ul>
                    <li {{ activeClass('featured-work',2,'current') }}><a href="{{siteUrl}}work/featured-work"><div>Featured Work</div></a></li>
                    <li {{ activeClass('projects|project-customer',2,'current') }}><a href="{{siteUrl}}work/projects"><div>Customer Projects</div></a></li>
                    <li {{ activeClass('galleries|project-gallery',2,'current') }}><a href="{{siteUrl}}work/galleries"><div>Galleries</div></a></li>
                </ul>
            </nav>

        	<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

        </div>

    </div>

</div>