<div id="page-menu" class="no-sticky">

    <div id="page-menu-wrap">

        <div class="container clearfix">

            <div class="menu-title">Why <span>Premier?</span></div>

            <nav>
                <ul>
                    <li {{ activeClass('about-us',2,'current') }}><a href="{{siteUrl}}why-premier/about-us"><div>About Us</div></a></li>
                    <li {{ activeClass('we-are-experts',2,'current') }}><a href="{{siteUrl}}why-premier/we-are-experts"><div>We are Experts</div></a></li>
                    <li {{ activeClass('why-use-a-professional',2,'current') }}><a href="{{siteUrl}}why-premier/why-use-a-professional"><div>Why use a Professional?</div></a></li>
                    <li {{ activeClass('our-commitment',2,'current') }}><a href="{{siteUrl}}why-premier/our-commitment"><div>Our Commitment</div></a></li>
                    <li {{ activeClass('testimonials',2,'current') }}><a href="{{siteUrl}}why-premier/testimonials"><div>Testimonials</div></a></li>
                    <li {{ activeClass('faqs',2,'current') }}><a href="{{siteUrl}}why-premier/faqs"><div>FAQs</div></a></li>
                </ul>
            </nav>

        	<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

        </div>

    </div>

</div>