<div id="page-menu" class="no-sticky">

    <div id="page-menu-wrap">

        <div class="container clearfix">

            <div class="menu-title"><span>Services</span></div>

            <nav>
                <ul>
                    <li {{ activeClass('our-services',2,'current') }}><a href="{{siteUrl}}services/our-services"><div>Our Services</div></a></li>
                    <li {{ activeClass('lawn-tree-care-program',2,'current') }}><a href="{{siteUrl}}services/lawn-tree-care-program"><div>Lawn & Tree Care Program</div></a></li>
                    <li {{ activeClass('seasonal-walkthrough',2,'current') }}><a href="{{siteUrl}}services/seasonal-walkthrough"><div>Seasonal Walkthrough</div></a></li>
                    <li {{ activeClass('special-offers',2,'current') }}><a href="{{siteUrl}}services/special-offers"><div>Special Offers</div></a></li>
                </ul>
            </nav>

        	<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

        </div>

    </div>

</div>