<div class="testimonial">
    <div class="testi-image">
        <a href="#"><img src="{{canvasImagesPath}}testimonials/1.jpg" alt="Customer Testimonails"></a>
    </div>
    <div class="testi-content">
        <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
        <div class="testi-meta">
            First Last
            <span>City, State</span>
        </div>
        <div class="testi-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-empty"></i>
        </div>
    </div>
</div>