<div class="testimonial">
	<p class="testimonial__quote">“Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam.” </p>
	<em class="testimonial__author">
		<span class="name">Firstname Lastname</span><span class="loc">City, State</span>
	</em>
	<div class="testimonial__rating">
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star-half-empty"></i>
	</div>
</div>