//
// Portfolio Item
// --------------------------------------------------

.iportfolio {
	a.portfolio-overlay {
		height: 100%;
	}
}


.portfolio-overlay {
	opacity: 1;
	@include border-radius(4px);
	background-color: transparent;

	.portfolio-desc {
		h3 {
			@include font-style(akagi, bold, normal, $white);
			@include type-resp(img-grid-title-lg, $type-scale-imggrid);
			letter-spacing: 0;
			text-shadow: 1px 1px 0px $birch;
		}

		span {
			@include margin-leader(1);
			@include font-style(magneta, thin, italic, $white !important);
			@include type-resp(img-grid-sub-lg, $type-scale-imggrid);
			letter-spacing: 1.5px;
			text-shadow: 1px 1px 0px $birch;
		}
	}
	&:hover {
		background-color: rgba($birch, 0.5);
	}
}


// Overrides for core.css
#portfolio:not(.portfolio-1) .portfolio-desc h3 {
	@include type-resp(img-grid-title, $type-scale-imggrid);
}
#portfolio:not(.portfolio-1) .portfolio-desc span {
	@include type-resp(img-grid-sub, $type-scale-imggrid);
}


body:not(.device-touch):not(.device-xs):not(.device-xxs) .portfolio-overlay {
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}


