//
// Post
// --------------------------------------------------

.entry-meta {
	li {
		margin-bottom: 0;
		@include font-style(akagi, book, normal, $dawn);
		@include type-scale(xs);
		letter-spacing: 0.2px;
	}
}



.post-grid .ipost .entry-image,
.post-grid .ipost .entry-image img {
	height: auto;
}


.ipost {
	background-color: $white;
	@include border-radius(4px);

	.entry-image {
		margin-bottom: 0;
		img {
			@include border-radius(4px 4px 0 0);
		}
	}

	.entry-title,
	.entry-meta,
	.entry-content {
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 0;
	}

	.entry-title {
		h3 {
			@include margin-leader(6);
			@include font-style(akagi, light, normal, $birch);
			@include type-scale(lg);
			letter-spacing: .2px;	

			a {
				@include set-link-color("accent");
			}
		}
	}

	.entry-meta {
		@include margin-leader(2);
		margin-bottom: 0;
		li {
			@include type-scale(xs);
		}
	}

	.entry-content {
		@include margin-leader(2);
		@include margin-trailer(6);
		@include type-scale(sm);

		p:first-child {
			margin-top: 0;
		}
	}

	.more-link {
		@include margin-leader(4);
	}


	@include breakpoint($bp-sm) {
		.entry-title {
			h3 {
				@include margin-leader(8);
			}
		}

		.entry-title,
		.entry-meta,
		.entry-content {
			margin-left: 40px;
			margin-right: 40px;
		}

		.entry-content {
			@include margin-leader(4);
			@include margin-trailer(8);
		}
	}


}




