//
// Post
// --------------------------------------------------

.entry-meta {
	li {
		margin-bottom: 0;
		@include font-style(akagi, book, normal, $dawn);
		@include fs(xs);
		letter-spacing: 0.2px;
	}
}



.post-grid .ipost .entry-image,
.post-grid .ipost .entry-image img {
	height: auto;
}


.ipost {
	background-color: $white;
	@include border-radius(4px);

	.entry-image {
		margin-bottom: 0;
		img {
			@include border-radius(4px 4px 0 0);
		}
	}

	.entry-title,
	.entry-meta,
	.entry-content {
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 0;
	}

	.entry-title {
		h3 {
			@include margin-leader(8);
			@include font-style(akagi, extralight, normal, $birch);
			@include fs(lg);
			letter-spacing: .2px;	

			a {
				@include set-link-color("accent");
			}
		}
	}

	.entry-meta {
		@include margin-leader(3);
		margin-bottom: 0;
		li {
			@include fs(xs);
		}
	}

	.entry-content {
		@include margin-leader(6);
		@include margin-trailer(8);
		@include fs(sm);
	}

	.more-link {
		@include margin-leader(6);
	}
}