//
// SERVICE
// --------------------------------------------------


.service-grid {
	@include block-grid(1);

	@media #{$xsmall-up} {
		@include block-grid(
		$per-row: 2,
		$spacing: rem-calc(30),
		$base-style: true
		);
	}

	@media #{$medium-up} {
		@include block-grid(
		$per-row: 3,
		$spacing: rem-calc(30),
		$base-style: true
		);
	}

	@media #{$xlarge-up} {
		@include block-grid(
		$per-row: 6,
		$spacing: rem-calc(30),
		$base-style: true
		);
	}

	> li {
		padding-bottom: 0;
		margin-bottom: vs(3);
	}
}


.service {
	display: block;
}


.service__img {
	margin-bottom: vs(1.5);
}


.service__title {
	margin-top: 0;
	margin-bottom: 0;

	font-size: rem-calc(18);
	line-height: 1;
	font-weight: 700;
	color: #626262;
}