//
// Testimonial
// --------------------------------------------------


.testimonial {
	padding-left: rem-calc(20);
	padding-right: rem-calc(20);
}

.testimonial__quote {
	font-style: italic;
	font-weight: 600;
}


.testimonial__author {
	display: block;
	margin-bottom: vs(.5);

	font-size: rem-calc(14);

	.loc,
	.name {
		display: block;
	}

	.loc {
		color: #D8D8D8;
	}
}