//
// Testimonial
// --------------------------------------------------

.testimonial {
	padding: 0;
	background-color: transparent;
	border: none;
	@include border-radius(0);
	box-shadow: none;

	p {
		@include font-style(magneta, thin, italic);
		@include type-resp(xl, $type-scale-testimonial);
		letter-spacing: 1.5px;
	}
}

.testi-meta {
	@include margin-leader(8);
	@include font-style(magneta, thin, normal, $cloud, none);
	@include type-resp(base);
	letter-spacing: 1px;

	em,
	span {
		display: inline-block;
		padding-left: 0;

		@include font-style(magneta, thin, italic, $dawn);		
		font-size: inherit;
	}

	em {
		padding-left: 4px;
		padding-right: 4px;
	}
}

.testi-rating {
	@include margin-leader(2);
	color: $brand-orange;
	@include type-resp(md);
}