{% extends "_layout" %}
{% set pageClass = "tmpl-blocks" %}
{% set title = "Content Blocks" %}
{% set titleTagline = "Cras mattis consectetur purus sit amet fermentum" %}

{% block pageTitle %}
	{% include '_organisms/page-title-parallax.html' %}
{% endblock %}

{% block content %}
<div class="container clearfix">

	<article class="type-main">

		<div class="row row-block row-b-title">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
				{% include 'dev/matrix/title.html' %}
			</div>
		</div>
		<div class="row row-block row-b-intro">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
				{% include 'dev/matrix/intro.html' %}
			</div>
		</div>
		<div class="row row-block row-b-text">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
				{% include 'dev/matrix/p.html' %}
			</div>
		</div>
		<div class="row row-block row-b-split">
			<div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-0 b-col">
				{% include 'dev/matrix/img-470x312.html' %}
			</div>
			<div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0 b-col">
				{% include 'dev/matrix/h3-h6-p.html' %}
			</div>
		</div>
		<div class="row row-block row-b-text">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
				{% include 'dev/matrix/p-sm-x2.html' %}
			</div>
		</div>
		<div class="row row-block row-b-text">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
				{% include 'dev/matrix/h4-p.html' %}
			</div>
		</div>
		<div class="row row-block row-b-img row-b-mrg">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
				{% include 'dev/matrix/img-770x516.html' %}
			</div>
		</div>
		<div class="row row-block row-b-heading">
			<div class="col-sm-10 col-sm-offset-1">
				{% include 'dev/matrix/heading.html' %}
			</div>
		</div>
		<div class="row row-block row-b-split row-b-split-2 row-b-split-even">
			<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 b-col b-col-left b-col-x-pad">
				{% include 'dev/matrix/img-h5-p.html' %}
			</div>
			<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 b-col b-col-right b-col-x-pad">
				{% include 'dev/matrix/img-h5-p.html' %}
			</div>
		</div>
		<div class="row row-block row-b-testimonial row-b-mrg-xl">
			<div class="col-sm-10 col-sm-offset-1">
				{% include 'dev/matrix/testimonial.html' %}
			</div>
		</div>
		<div class="row row-block row-b-text row-b-mrg-xl">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
				{% include 'dev/matrix/h3-p-img-pull-right-p.html' %}
			</div>
		</div>
		<div class="row row-block row-b-text">
			<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
				{% include 'dev/matrix/h4-h6-img-pull-left-p.html' %}
			</div>
		</div>
		<div class="row row-block row-b-img row-b-mrg-xl">
			<div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
				{% include 'dev/matrix/img-1170x804.html' %}
			</div>
		</div>

	</article>
			

</div>
{% endblock %}
