{% extends "_layout" %}
{% set pageClass = "tmpl-patternlab" %}
{% set title = "Section / Page Title" %}
{% set titleTagline = "Cras mattis consectetur purus sit amet fermentum" %}

{% block pageTitle %}
	{% include '_organisms/page-title-parallax.html' %}
{% endblock %}

{% block bottom %}
{# 	{% include '_organisms/home-hero.html' %}
	
	{% include '_organisms/home-intro.html' %}
	{% include '_atoms/divider-mrg-none.html' %}
	{% include '_organisms/home-services.html' %}
	{% include '_atoms/divider-mrg-none.html' %}
	{% include '_organisms/home-testimonials.html' %}	
	{% include '_organisms/service-area-gmap.html' %} #}
	{% include '_organisms/contact-gmap.html' %}
	{% include '_atoms/space.html' %}
	{% include '_organisms/home-cta.html' %}
{% endblock %}


