//
// Buttons
// --------------------------------------------------

.button-wrap {
	white-space: normal;
	padding-top: 10px;
  padding-bottom: 10px;
	line-height: 20px;
	height: auto;

  &.button-mini {
      // padding: 0 14px;
  }
  &.button-small {
      // padding: 0 17px;
  }
  &.button-large {
      // padding: 0 26px;
  }
  &.button-xlarge {
      height: auto;
      line-height: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  &.button-desc {
		white-space: wrap;
  }
}

.button-desc {
  white-space: normal;
}



.button {
  @include font-style(akagi, md, normal, false, uppercase);
  font-size: 15px;
  text-shadow: none;
  border-bottom: none;

  padding: 20px 48px;
  height: auto;
  line-height: 20px;
  letter-spacing: 1px;
  white-space: normal;

  &:hover {
    text-shadow: none;
  }

  &.button-rounded {
    @include border-radius(30px);
  }

  &.button-xlarge {
    padding: rhythm(6) 60px;
    height: auto;
    line-height: rhythm(4);
    font-size: 24px;
    letter-spacing: 1px;
    white-space: normal;
    @include border-radius(48px);
  }

}



.button-orange {
  color: $white;
  background-color: $brand-orange;
  &:hover {
    color: $white;
    background-color: #ffc600;
  }
}

.button-accent {
  color: $white;
  background-color: $brand-accent;
  &:hover {
    color: $white;
    background-color: saturate($brand-accent, 10%);
  }
}

.not-dark .button.button-border:not(.button-light), 
.button.button-border {
  @include font-weight(akagi, md);

  &:hover {
    text-shadow: none;
  }

  &.button-orange {
    color: $brand-orange;
    border-color: lighten($brand-orange,20%);
    &:hover {
      color: $white;
      background-color: $brand-orange;
    }
  }
}





// Social Icons
// --------------------------------------------------

.social-icon {
  width: 48px;
  height: 48px;

  font-size: 20px;
  line-height: 44px !important;
  color: $brand-accent;
  border: 2px solid lighten($brand-accent,20%);

  @include border-radius(4px);

  &:hover {
    i:first-child {
      margin-top: -44px;
    }
  }

  &.si-twitter {
    font-size: 15px;
  }
}

