//
// Forms
// --------------------------------------------------

// label {
// 	margin-bottom: vs(.7);
// }


// input[type="text"], 
// input[type="password"], 
// input[type="date"], 
// input[type="datetime"], 
// input[type="datetime-local"], 
// input[type="month"], 
// input[type="week"], 
// input[type="email"], 
// input[type="number"], 
// input[type="search"], 
// input[type="tel"], 
// input[type="time"], 
// input[type="url"], 
// input[type="color"], 
// textarea,
// select {
// 	margin-bottom: 0;
// }


// input[type="checkbox"], 
// input[type="radio"] {
// 	margin-bottom: 0; 
// }


// .alert-box {
// 	font-size: rem-calc(14);
// 	line-height: 1.5;

// 	p {
// 		margin-bottom: vs(1);
// 		&:last-of-type {
// 			margin-bottom: 0;
// 		}

// 		font-size: rem-calc(16);
// 		line-height: 1.5;
// 	}

// 	&.alert p a {
// 		color: $white;
// 		text-decoration: underline;
// 	}

// }









// Sprout Forms
// --------------------------------------------------

label {
	margin-bottom: vs(.5);

	font-family: $font-akagi;
	font-weight: $font-akagi-bold;
	font-size: 20px;
	line-height: 1;
	color: $birch;
	letter-spacing: 0;
	cursor: pointer;
	text-transform: none;
}


.field {

	margin-bottom: vs(3);

	.heading {
		line-height: 1;
	}

	.input > .text,
	.input select {
	    display: block;
	    width: 100%;
	    height: 60px;
	    padding: vs(1.5) 14px;

	    font-family: $font-akagi;
			font-weight: $font-akagi-md;
	    font-size: 24px;
	    line-height: vs(2);
	    color: $forest-green;
	    background-color: $white;
	    background-image: none;
	    border: 2px solid $quill-gray;
	    @include border-radius(4px);
	    -webkit-transition: border-color ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s;
	    transition: border-color ease-in-out .15s;

	    &:focus {
	        border-color: #AAA;
	        outline: 0;
	        -webkit-box-shadow: none;
	        box-shadow: none;
	    }
	}

	.input > .text::-moz-placeholder,
	.input > .text:-ms-input-placeholder,
	.input > .text::-webkit-input-placeholder {
	    color: $friar-gray;
	    opacity: 1;
	}

	.input > .text[disabled],
	.input > .text[readonly],
	fieldset[disabled] .input > .text {
	  cursor: not-allowed;
	  background-color: $friar-gray;
	  opacity: 1;
	}

	.input textarea.text {
		height: auto;
	}



	.checkbox-select {
		> div {
			margin-bottom: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}

		label {
			min-height: 20px;
			padding-left: 20px;
			margin-bottom: 0;

			font-size: 18px;
			font-family: $font-magneta;
			font-weight: $font-magneta-thin;
			font-style: italic;
			color: $soya-bean;
		}

		input[type=radio], 
		input[type=checkbox] {
			margin: 2px 0 0;
			margin-top: 1px \9;
			line-height: normal;
			position: absolute;
			margin-top: 4px \9;
			margin-left: -20px;
		}

	}



	// Errors
	.errors {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;	

		font-family: $font-akagi;
		font-size: 14px;
		font-weight: $font-akagi-md;
		font-style: normal;
		color: $invalid;
		text-transform: uppercase;

		> li {
			padding: 6px 0 0 0;
		}

		.text {
			border-color: $invalid;
		}

	}

}


.submit {
	margin-top: vs(5);
	margin-left: -20px;

	@include breakpoint($bp-md) {
		margin-left: -40px;
	}
}


.submit > input {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;

    font-family: $font-akagi;
	  font-weight: $font-akagi-md;
	  font-size: 15px;
	  text-shadow: none;
	  text-transform: uppercase;
	  border-bottom: none;

	  padding: vs(3) 60px;
    height: auto;
    line-height: vs(2);
    font-size: 24px;
    letter-spacing: 1px;
    white-space: normal;
    @include border-radius(48px);
    white-space: nowrap;

    @extend .button-orange;
}

body:not(.device-touch) {
    .submit > input {
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
}

