//
// Forms
// --------------------------------------------------


// Sprout Forms
// --------------------------------------------------

label {
	@include margin-trailer(1);

	@include font-style(akagi, bold, normal, $birch, none);
	//@include fs(base);
	@include type-resp(base, $type-scale-label);
	letter-spacing: 0;
	cursor: pointer;
}


.field {
	@include margin-trailer(5);
	@include breakpoint($bp-sm) {
		@include margin-trailer(6);
	}

	.heading {
		line-height: 1;
	}

	.input > .text,
	.input select {
	    display: block;
	    width: 100%;
	    height: 48px;
	    padding: rhythm(2) 14px;

			@include font-style(akagi, md, normal, $forest-green);
			//@include fs(md);
			@include type-resp(md);
	    background-color: $white;
	    background-image: none;
	    border: 2px solid $quill-gray;
	    @include border-radius(4px);
	    -webkit-transition: border-color ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s;
	    transition: border-color ease-in-out .15s;

	    &:focus {
	        border-color: #AAA;
	        outline: 0;
	        -webkit-box-shadow: none;
	        box-shadow: none;
	    }

	    @include breakpoint($bp-sm) {
	    	height: 60px;
	    	padding: rhythm(3) 14px;
	    }
	}

	.input > .text::-moz-placeholder,
	.input > .text:-ms-input-placeholder,
	.input > .text::-webkit-input-placeholder {
	    color: $friar-gray;
	    opacity: 1;
	}

	.input > .text[disabled],
	.input > .text[readonly],
	fieldset[disabled] .input > .text {
	  cursor: not-allowed;
	  background-color: $friar-gray;
	  opacity: 1;
	}

	.input textarea.text {
		height: auto;
	}



	.checkbox-select {
		> div {
			margin-bottom: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}

		label {
			min-height: 20px;
			padding-left: 20px;
			margin-bottom: 0;

			@include font-style(magneta, thin, italic, $soya-bean);
			font-size: 18px;
			line-height: 1;
			letter-spacing: .5px;
		}

		input[type=radio], 
		input[type=checkbox] {
			margin: 2px 0 0;
			margin-top: 1px \9;
			line-height: normal;
			position: absolute;
			margin-top: 4px \9;
			margin-left: -20px;
		}

	}



	// Errors
	.errors {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;	

		@include font-style(akagi, md, normal, $invalid, uppercase);
		@include fs(sm);

		> li {
			padding: 6px 0 0 0;
		}

		.text {
			border-color: $invalid;
		}

	}

}


.submit {
	@include margin-leader(10);
	margin-left: -20px;

	@include breakpoint($bp-md) {
		margin-left: -40px;
	}
}


.submit > input {
    padding: rhythm(6) 60px;
    height: auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;

		@include font-style(akagi, md, normal, false, uppercase);   
    @include fs(md);
    line-height: rhythm(4);
    letter-spacing: 1px;
    white-space: normal;
    text-shadow: none;
    @include border-radius(48px);
    white-space: nowrap;

    @extend .button-orange;
}

body:not(.device-touch) {
    .submit > input {
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
}

