//
// Promo
// --------------------------------------------------

.promo {
	
	h4 {
		margin-top: 5px;
		margin-bottom: 0;

		font-family: 'Crete Round', serif;
		font-style: italic;
		text-transform: uppercase;
	}

	> h4 + span {
		margin-top: 25px;
		margin-bottom: 15px;
	}

	&.promo-dark {
		h4 {
			color: #ccc;
		}
		> h4 + span {
			margin-top: 20px;
			margin-bottom: 15px;
		}
	}

	&.promo-large {
		padding: 50px 10%;
	}

	&.promo-xlarge {
		padding: 150px 20%;
	}
}



.promo-entry,
.promo-service {
	padding-right: 30px;

	.entry {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}

	.entry-image {
		width: 400px;
	}

	a.button {
		margin-top: 0;
		position: relative;
		right: auto;
		top: auto;

		&.button-small {
			margin-top: 0;
		}
	}

	&.promo-border {
		a.button {
			right: auto;
		}
	}

}