//
// Widgets
// --------------------------------------------------

#content .widget {
	@include fs(sm);
	letter-spacing: .2px;
	color: $soya-bean;

	p {
		@include fs(sm);
	}

	h4 {
		@include margin-leader(12);
		@include margin-trailer(4);

		@include font-style(akagi, bold, normal, $birch);
		@include fs(sm);
		letter-spacing: 0px;
	}

	address {
		@include fs(sm);
	}

}