//
// Widgets
// --------------------------------------------------

#content .widget {

	font-size: 16px;
	line-height: 1.8;
	letter-spacing: .2px;
	color: $soya-bean;

	p {
		font-size: 16px;
		line-height: 1.8;
	}

	h4 {
		margin-top: vs(6);
		margin-bottom: vs(2);

		font-family: $font-akagi;
		font-weight: $font-akagi-bold;
		font-size: 16px;
		color: $birch;
		letter-spacing: 0px;
		line-height: 1;
	}

	address {
		line-height: 1.8;
	}

}