//
// Template: Contact
// --------------------------------------------------


// Form
// --------------------------------------------------






// Sidebar: Contact Info
// --------------------------------------------------

.contact__img {
	@include border-radius(4px);
}


.contact__name {
	margin-top: vs(3);

	font-family: $font-akagi;
	font-weight: $font-akagi-bold;
	font-size: 32px;
	color: $birch;
	line-height: 38px;
	letter-spacing: -.5px;

	small {		
		font-family: $font-akagi;
		font-weight: $font-akagi-light;
		font-style: italic;
		font-size: 32px;
		color: #AEACA5;
	}
}


.contact__bio {
	margin-top: vs(1);
}


.contact-info__hd {
	margin-top: vs(6);
}


.contact-info__addy {
	margin-bottom: vs(2);
}


.contact-social {
	@include clearfix();
	margin-top: vs(3);
}