//
// Template: Contact
// --------------------------------------------------


// Form
// --------------------------------------------------






// Sidebar: Contact Info
// --------------------------------------------------

.contact__img {
	margin-bottom: 15px;
}


.contact__name {
	margin-bottom: 0;
}


.contact__bio {
	margin-bottom: 0;
}


.contact-info__hd {
	margin-top: 50px;
}


.contact-info__addy {
	margin-bottom: 10px;
}


.contact-social {
	margin-top: 20px;
}