//
// Template: Portfolio
// --------------------------------------------------

.portfolio-2 .portfolio-item {
	margin-bottom: 50px;
}

.portfolio-3 .portfolio-item {
	margin-bottom: 50px;
}


#portfolio:not(.portfolio-1) .portfolio-item {
	@media (max-width: 991px) {
		margin-bottom: 50px;
	}
}




.portfolio-3-gallery .portfolio-item {
	margin-bottom: 15px !important;
}