//
// Footer
// --------------------------------------------------



// Base
// --------------------------------------------------

.footer {
	position: relative;
	padding-top: vs(12); 
	padding-bottom: vs(12);

	text-align: center;

	background-color: #15130C; 
	background-image: url(../images/footer-bg.jpg);
	background-position: top center;
	background-size: cover;

	p {
		margin-bottom: 0;
		font-size: inherit;
		line-height: inherit;
	}

	@include breakpoint($bp-md) {
		text-align: left;
	}

	&::before {
		position: absolute;
		content: '';
		pointer-events: none;

		right: 0;
		left: 0;
		z-index: 10;
		display: block;
		height: vs(1);

		top: vs(-1);
		background-image: url(../images/footer-bg-grunge.svg);
		background-position: top center;
	}
}


.footer-line {
	height: 0;
	font-size: 0;
	line-height: 0;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: vs(3); 

	border-bottom: 1px solid #2B2619;
}


.footer-info-col,
.footer-questions-col,
.footer-navsocial-col {
	margin-bottom: vs(4);

	@include breakpoint($bp-sm) {
		margin-bottom: vs(6);
	}

	@include breakpoint($bp-md) {
		margin-bottom: vs(9);
	}
}





// Call Us
// --------------------------------------------------

.footer-hd {
	margin-top: 0;
	margin-bottom: vs(2);
	padding-right: 40px;
	padding-left: 40px;

	font-family: $font-akagi;
	font-size: 20px;
	line-height: 1;
	font-weight: $font-akagi-light;
	color: $mantis;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 1.2;

	@include breakpoint($bp-xs) {
		padding-left: 0;
		padding-right: 0;
	}
}


.footer-phone {
	margin-top: 0;
	margin-bottom: vs(1);

	font-family: $font-akagi;
	font-size: 62px;
	color: $white;
	line-height: 1;
	font-weight: $font-akagi-bold;
	letter-spacing: -1.8px;
	text-shadow: 2px 2px 0px #0A0906;

	a {
		color: $white;
		&:hover {
			color: $white;
		}
	}

	@include breakpoint($bp-sm) {
		font-size: 82px;
	}
	@include breakpoint($bp-md) {
		font-size: 74px;
	}
	@include breakpoint($bp-lg) {
		font-size: 82px;
	}
}


.footer-tagline {
	font-size: 24px;
	font-weight: $font-magneta-thin;
	font-style: italic;
	color: $friar-gray;
	letter-spacing: 1px;
	line-height: 1.1;
}





// Nav + Social
// --------------------------------------------------

.footer-nav {
	display: block;
	margin: 0 0 vs(1) 0;

	list-style-type: none;
	list-style-position: outside;

	> li {
		display: inline-block;
		margin-bottom: 0;
		line-height: 1;
	}

	> li > a {
		display: block;
		padding: vs(1) 10px;

		font-size: 20px;
		font-weight: $font-magneta-thin;
		color: $white;
		line-height: 1.1;
		letter-spacing: .5px;

		&:hover,
		&:focus {
			color: $mantis;
		}
	}	

	@include breakpoint($bp-md) {
		float: left;
		margin-bottom: 0;
		margin-left: 30px;

		&:first-child {
			margin-left: 20px;
		}

		> li {
			display: block;
			margin-left: -10px;
		}

		> li > a {
			padding-top: vs(.55);
			padding-bottom: vs(.55);

			font-size: 18px;
		}
	}

	@include breakpoint($bp-lg) {
		margin-left: 54px;
		&:first-child {
			margin-left: 0;
		}

		> li > a {
			font-size: 20px;
		}
	}
}


.footer-social {
	display: block;
	margin: vs(3) 0 0 0;

	list-style-type: none;
	list-style-position: outside;

	> li {
		display: inline-block;
		margin-bottom: vs(.3);
		margin-left: 5px;
		margin-right: 5px;

		font-size: 36px;
		line-height: 1;

		@include breakpoint($bp-md) {
			display: block;
			margin-left: 0;
			margin-right: 0;

			font-size: 24px;
			text-align: center;
		}
	}
 
	> li > a {
		display: block;
		padding: vs(.5) 6px;

		color: $white;

		&:hover,
		&:focus {
			color: $mantis;
		}

		@include breakpoint($bp-md) {

		}
	}

	@include breakpoint($bp-sm) {
		margin-top: vs(4)
	}

	@include breakpoint($bp-md) {
		float: right;
		margin-top: 0;
		margin-right: -6px;
	}
}





// Copy + By
// --------------------------------------------------

.footer-bot {
	font-size: 16px;
	letter-spacing: .4px;
	color: #5E594C;

	p {
		margin-bottom: vs(1);
	}

	a {
		color: #5E594C;
		&:hover {
			color: #868279;
		}
	}
}

.footer-copy {
	@include breakpoint($bp-xs) {
		br {
			display: none;
		}
	}
}


.footer-by {
	@include breakpoint($bp-xs) {
		br {
			display: none;
		}
	}
	@include breakpoint($bp-sm) {
		text-align: right;
	}
}


.footer-devnav {
	margin-top: vs(1);

	@include breakpoint($bp-md) {
		text-align: left;
	}
}
