//
// Page Title
// --------------------------------------------------

#page-title {

	h1 {
		max-width: 780px;
		margin: 0 auto;

		@include font-style(akagi, bold, normal, $white, none);
		@include type-resp(title, $type-scale-pagetitle);
		letter-spacing: -1px;
		text-shadow: 2px 1px 0px rgba(0,0,0,0.20);
	}

	span {
		display: block;
		@include margin-leader(2);
		@include breakpoint($bp-sm) {
			@include margin-leader(4);
		}

		@include font-style(magneta, thin, italic, $white);
		@include type-resp(sub, $type-scale-pagetitle);
		letter-spacing: 1px;
	}

	&.page-title-dark {
		background-color: $forest-green;

		span {
			color: $white;
		}
	}

	&.page-title-parallax {
		@include rhythm(-4, 16, 14, 0);
		@include breakpoint($bp-sm) {
			@include rhythm(-4, 20, 18, 0);
		}

		background-position: top center !important;

		@include breakpoint($bp-sm) {
			@include rhythm-padding(30, 28);
		}

		h1 {
			@include font-weight(akagi, bold);
			@include type-resp(title, $type-scale-pagetitle);
			letter-spacing: -1px;
		}

		span {
			@include type-resp(sub, $type-scale-pagetitle);
		}
	}
}



#page-title .si-share {
	position: absolute;
	right: 15px; 
	bottom: -120px;

	padding: 5px 10px 0 20px;
	margin-bottom: 0 !important;

	background-color: #fff;

	> span {
		display: inline-block;;
		margin-top: 0;
		color: #777;
		font-size: 14px;
		vertical-align: middle;
	}

	> div {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}

	@media (max-width: 767px) {
		width: 100%;
		right: 0;
		position: relative;
	}

}