//
// Page Header
// --------------------------------------------------

.page-header {
	padding-top: vs(4);
	padding-bottom: vs(4);

	text-align: center;

	background: #535353;
}


.page-title {
	font-size: rem-calc(48);
	line-height: 1.2;
	font-weight: 400;
	color: #fff;
}