//
// Section: Intro
// --------------------------------------------------

.section-intro {
	.b-heading h2 {
		line-height: 1;
		margin-bottom: 0;
	}
	.b-heading h2 + span {
		//line-height: 1.3;
		padding-right: 80px;
	}

	p:first-child {		
		@include breakpoint($bp-md) {
			margin-top: 0;
		}
	}
}






.dig-deeper {
	position: relative;
	height: 0;

	&::before {
		position: absolute;
		content: '';
		pointer-events: none;

		right: 0;
		left: 0;
		z-index: 10;
		display: block;
		height: 85px;

		top: rs(-15);
		background-image: url(../images/icon-digdeeper.svg);
		background-position: top center;
		background-repeat: no-repeat;
	}
}