//
// Sections
// --------------------------------------------------

.section {
	position: relative;
	overflow: visible;

	margin-top: 0;
	margin-bottom: 0;
	@include rhythm-padding(20, 22);

	&.bg-white {
		background-color: $white;

		&::before {
			position: absolute;
			content: '';
			pointer-events: none;

			right: 0;
			left: 0;
			z-index: 10;
			display: block;
			height: rs(2);

			top: rs(-2);
			background-image: url(../images/section-white-bg.svg);
			background-position: top center;
		}
	}

	&.bg-lightgrass {
		background-color: #E8EFE7;
		background-image: url(../images/section-lightgrass-bg.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		&::before {
			position: absolute;
			content: '';
			pointer-events: none;

			right: 0;
			left: 0;
			z-index: 10;
			display: block;
			height: rs(7);

			top: rs(-7);
			background-image: url(../images/section-lightgrass-blades.svg);
			background-position: top center;
		}
	}

	&.bg-seed {
		background-color: #D6D5D2;
		background-image: url(../images/section-seed-bg.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		&::before {
			position: absolute;
			content: '';
			pointer-events: none;

			right: 0;
			left: 0;
			z-index: 10;
			display: block;
			height: rs(2.4);

			top: rs(-2.4);
			background-image: url(../images/section-seed-grunge.svg);
			background-position: top center;
			background-repeat: repeat-x;
		}
	}

	&.bg-dirt {
		background-color: $eternity;
		background-image: url(../images/section-dirt-bg.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		&::before {
			position: absolute;
			content: '';
			pointer-events: none;

			right: 0;
			left: 0;
			z-index: 10;
			display: block;
			height: rs(2);

			top: rs(-2);
			background-image: url(../images/section-dirt-grunge.svg);
			background-position: top center;
		}

		h2 {
			color: $white;
		}

		.b-heading-div {
			opacity: .5;
		}

	}

	.action-row {
		@include margin-leader($ru-lg);
	}
}

.section-space {
	height: rhythm(12);
}



// Section Grids
// --------------------------------------------------

.section {
	#portfolio.grid,
	.grid {
		@include rhythm-margins($ru-lg - 2, 0);
		margin-left: 0;
		margin-right: 0;
	}
	
	#portfolio.img-grid,
	.img-grid {
		@include rhythm-margins($ru-lg - 6, 0);
		margin-left: 0;
		margin-right: 0;
	}
}

.img-grid .grid-col {
	@include margin-leader(4);
}



// Section Block Overrides
// --------------------------------------------------

.section {
	.b-heading {
		h2 {
			margin-top: 0;
		}
		&.center > span {
			padding-left: 170px;
			padding-right: 170px;
		}
	}
}



// Section Form
// --------------------------------------------------

.section-contactform {
	@include margin-leader($ru-base);
}
