//
// Section: CTA
// --------------------------------------------------


// Heading
// --------------------------------------------------

.heading-block-cta {
	margin-bottom: vs(6);

	h2 {
		max-width: 780px;
		margin: 0 auto vs(2) auto;

		font-family: $font-akagi;
		font-weight: $font-akagi-bold;
		font-size: 62px;
		color: #FFFFFF;
		line-height: 1.1;
		text-transform: none;
		letter-spacing: -1px;
		text-shadow: 2px 1px 0px rgba(0,0,0,0.20);

		+ span {
			font-size: 32px;
		}

		@include breakpoint($bp-sm) {
			font-size: 82px;
		}

	}

	> span:not(.before-heading) {
		font-size: 32px;
		font-weight: $font-magneta-thin;
		font-style: italic;
		color: $white;
		letter-spacing: 2px;
		line-height: 1.1;
	}

	&:after {
		margin: 0 !important;
		border-top: none;
	}
}


// Section
// --------------------------------------------------

.section-cta {
	overflow: visible;
	position: relative;
	padding-top: vs(8); 
	padding-bottom: vs(12);

	background-color: #15130C; 
	background-image: url(../images/cta-bg.jpg);
	background-position: top center;
	background-size: cover;

	&::before {
		position: absolute;
		content: '';
		pointer-events: none;

		right: 0;
		left: 0;
		z-index: 10;
		display: block;
		height: vs(3);

		top: vs(-3);
		background-image: url(../images/grass-bg-blades.svg);
		background-position: top center;
	}
}
