//
// Sections
// --------------------------------------------------

$section-leading: vs(10);
$section-trailing: vs(11);


.section {
	position: relative;
	overflow: visible;

	margin-top: 0;
	margin-bottom: 0;
	padding-top: $section-leading;
	padding-bottom: $section-trailing;

	&.bg-white {
		background-color: $white;

		&::before {
			position: absolute;
			content: '';
			pointer-events: none;

			right: 0;
			left: 0;
			z-index: 10;
			display: block;
			height: vs(1);

			top: vs(-1);
			background-image: url(../images/section-white-bg.svg);
			background-position: top center;
		}
	}

	&.bg-lightgrass {
		background-color: #E8EFE7;
		background-image: url(../images/section-lightgrass-bg.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		&::before {
			position: absolute;
			content: '';
			pointer-events: none;

			right: 0;
			left: 0;
			z-index: 10;
			display: block;
			height: vs(3.5);

			top: vs(-3.5);
			background-image: url(../images/section-lightgrass-blades.svg);
			background-position: top center;
		}
	}

	&.bg-seed {
		background-color: #D6D5D2;
		background-image: url(../images/section-seed-bg.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		&::before {
			position: absolute;
			content: '';
			pointer-events: none;

			right: 0;
			left: 0;
			z-index: 10;
			display: block;
			height: vs(1.2);

			top: vs(-1.2);
			background-image: url(../images/section-seed-grunge.svg);
			background-position: top center;
			background-repeat: repeat-x;
		}
	}

	&.bg-dirt {
		background-color: $eternity;
		background-image: url(../images/section-dirt-bg.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		&::before {
			position: absolute;
			content: '';
			pointer-events: none;

			right: 0;
			left: 0;
			z-index: 10;
			display: block;
			height: vs(1);

			top: vs(-1);
			background-image: url(../images/section-dirt-grunge.svg);
			background-position: top center;
		}

		h2 {
			color: $white;
		}

		.b-heading-div {
			opacity: .5;
		}

	}

	.action-row {
		margin-top: $b-mrg-lg;
	}
}

.section-space {
	height: vs(12);
}



// Section Grids
// --------------------------------------------------

.section {
	#portfolio.grid,
	.grid {
		margin-top: $b-mrg-lg - vs(1);
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
	
	#portfolio.img-grid,
	.img-grid {
		margin-top: $b-mrg-lg - vs(3);
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
}

.img-grid .grid-col {
	margin-top: vs(2);
}



// Section Block Overrides
// --------------------------------------------------

.section {
	.b-heading {
		h2 {
			margin-top: 0;
		}
		&.center > span {
			padding-left: 170px;
			padding-right: 170px;
		}
	}
}


