//
// Section: CTA
// --------------------------------------------------


// Heading
// --------------------------------------------------

.heading-block-cta {
	@include margin-trailer(12);

	h2 {
		max-width: 780px;
		margin: 0 auto rhythm(4) auto;

		@include font-style(akagi, bold, normal, $white, none);
		@include type-resp(title, $type-scale-pagetitle);
		letter-spacing: -1px;
		text-shadow: 2px 1px 0px rgba(0,0,0,0.20);

		+ span {
			@include type-resp(sub, $type-scale-pagetitle);
		}

	}

	> span:not(.before-heading) {
		@include font-style(magneta, thin, italic, $white);
		@include type-resp(xl);
		letter-spacing: 2px;
	}

	&:after {
		margin: 0 !important;
		border-top: none;
	}
}


// Section
// --------------------------------------------------

.section-cta {
	overflow: visible;
	position: relative;
	@include rhythm-padding($section-ru-base - 2, $section-ru-base + 2);

	background-color: #15130C; 
	background-image: url(../images/cta-bg.jpg);
	background-position: top center;
	background-size: cover;

	&::before {
		position: absolute;
		content: '';
		pointer-events: none;

		right: 0;
		left: 0;
		z-index: 10;
		display: block;
		height: rs(6);

		top: rs(-6);
		background-image: url(../images/grass-bg-blades.svg);
		background-position: top center;
	}

	@include breakpoint($bp-sm) {
		@include rhythm-padding($section-ru-base + 2, $section-ru-base + 8);
	}

}
