<div class="section nobg topmargin-lg notoppadding nobottompadding nobottommargin">
	<div class="container clearfix">
		<div class="heading-block center">
            <h3>Just some of the local companies that trust Premier</h3>
            <span>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</span>
        </div>
		<ul class="clients-grid grid-6 nobottommargin clearfix">
    	   {% for i in 0..11 %}
    	   <li><a href="#"><img src="{{canvasImagesPath}}clients/1.png" alt="Client"></a></li>
    	   {% endfor %}  
        </ul>
	</div>
</div>