{# <div class="line"></div> #}
<div class="section notopmargin nobottommargin">

    <div class="container clearfix">

        <div class="heading-block center">
            <h2>Ready to make your lawn beautiful?</h2>
            <span>Optional sub heading or descriptive text.</span>
        </div>

        <div class="center">
            <a href="{{siteUrl}}get-started" class="button button-desc center"><div>Get started today!<span>Your lawn will thank you</span></div></a>
        </div>

    </div>

</div>