<section id="slider" class="slider-parallax" style="background: url('/images/hero-img.jpg'); background-size: cover;" data-height-lg="792" data-height-md="792" data-height-sm="600" data-height-xs="492" data-height-xxs="492">
    <div class="container clearfix">
        <div class="vertical-middle">

            <div class="heading-block">
                <h1 class="fadeInUp animated" data-animate="fadeInUp">Give your Lawn the Treament it Deserves</h2>
                <h3 class="fadeInUp animated" data-animate="fadeInUp" data-delay="300">Premier Lawn Care is here to help!</h3>
                <a href="{{siteUrl}}get-started" class="button button-orange button-xlarge">Get Started Today!</a>
            </div>

        </div>
    </div>
</section>