<section class="dig-deeper"></section>
<section class="section section-intro bg-white">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-4">
                <div class="b b-heading heading-block">
                    <span class="uppercase before-heading">Why Choose</span>
                    <h2>Premier Lawn Care?</h2>
                    <span class="fs-italic">We are the lawn care experts of Massachusetts</span>
                </div>
            </div>
            <div class="col-md-4">
                <p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam.</p>
            </div>
            <div class="col-md-4">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                <p class="p-button"><a href="{{siteUrl}}why-premier/about-us" class="button button-accent button-rounded">Learn more</a></p>
            </div>
        </div>
    </div>
</div>