<div class="section nobg notopmargin nobottommargin pt-lg pb-lg">
    <div class="container clearfix">

        <div class="row">

            <div class="heading-block center">
                <h3>What our customers have to say about Premier</h3>
            </div>            

            <ul class="testimonials-grid grid-3 clearfix">
                {% for i in 0..2 %}
                <li>
                    {% include '_molecules/testimonial.html' %}
                </li>
                {% endfor %}  
            </ul> 

        </div> 

        <div class="row center">
            <a href="{{siteUrl}}why-premier/testimonials" class="button">View more testimonials</a>
        </div>

    </div>
</div>