<section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('{{canvasImagesPath}}slider/swiper/3.jpg'); padding: 120px 0;" data-stellar-background-ratio="0.3">

    <div class="container clearfix">
        <h1 data-animate="fadeInUp">{{ title }}</h1>
        {% if titleTagline is defined %}
        <span data-animate="fadeInUp" data-delay="300">{{ titleTagline }}</span>
        {% endif %}
        <div id="portfolio-navigation">
            <a href="#"><i class="icon-angle-left"></i></a>
            <a href="#"><i class="icon-line-grid"></i></a>
            <a href="#"><i class="icon-angle-right"></i></a>
        </div>
        <div class="si-share noborder bottommargin clearfix">
          <span>Share on:</span>
          <div>
              <a href="#" class="social-icon si-borderless si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-pinterest">
                  <i class="icon-pinterest"></i>
                  <i class="icon-pinterest"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-rss">
                  <i class="icon-rss"></i>
                  <i class="icon-rss"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-email3">
                  <i class="icon-email3"></i>
                  <i class="icon-email3"></i>
              </a>
          </div>
      </div>
    </div>

</section>