<section class="section-gmap-service">

		<div class="row">
			
			<div class="col-md-6 nopadding">
				<div class="gmap-body col-padding">
          <div class="heading-block nobottomborder">
              <span class="before-heading color">Our Service Area</span>
              <h3>Western Massachusetts</h3>
          </div>
          <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <a class="button button-small" href="#">Not sure we service your area? Contact us!</a>
        </div>
			</div>
			<div class="col-md-6 nopadding">
				<div class="google-map"><iframe src="https://www.google.com/maps/embed/v1/place?q=Charlton%2C%20MA%2C%20United%20States&key=AIzaSyBiAD2tlzv1CXVhOPFqf-bLDk_nM4k1EC8" width="1600" height="480" frameborder="0" style="border:0"></iframe></div>
			</div>

		</div>


</section>