<section class="section section-whychoose text-left">
	<div class="row">
		<div class="large-4 columns">
			<h3 class="section__subhd">WHY CHOOSE</h3>
			<h2 class="section__hd mrg-bot-sm">Premier Lawn Care?</h2>
			<h4 class="section__emphd">We are the Lawn Care experts of Massachusetts</h4>
	</div>
	<div class="large-4 columns">
		<p>Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam.</p>
	</div>
	<div class="large-4 columns">
		<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
		<a href="#" class="button small section__btn">Learn more</a>
	</div>
</section>