{% extends "_layout" %}
{% set pageClass = "tmpl-contact" %}
{% set title = "Contact Us" %}
{% set titleTagline = "Optional page title tagline" %}

{% block pageMenu %}

{% endblock %}

{% block pageTitle %}
	{% include '_organisms/page-title-parallax.html' %}
{% endblock %}

{% block pageMenuUnder %}

{% endblock %}

{% block content %}
	<div class="section nobg notopmargin notoppadding nobottommargin nobottompadding">
	  <div class="container clearfix">
	      <div class="col-md-7">

	      	<article>

						{# Check if we should display or form or thank you message #}
						{% if craft.request.getParam('message') == 'thank-you' %}

							{# Display our thank you message #}
							<h1>Thank you for contacting Premier Lawn Care</h1>
							<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.</p>

						{% else %}

							{# ERROR MSG Doesn't work right now, I guess it has to be custom HTML form #}
							{# Prepare our error macro #}
							{% macro errorList(errors) %}
								{# To display errors, you want to make sure errors exist, 
									 and then you can loop through and display them #}
								{% if errors %}
									<div data-alert class="alert-box alert">
									  <p>Unfortunately there are error(s) sending your inquiry to us. Please make sure you've filled out all the required fields as indicated in red. Please double-check any formatting as well. When you are done, click the 'Send' button again.</p>
									  <p>If you still run into problems, feel free to contact us via <a href="mailto: contact@premierlawncarema.com" subject="Contact Form Send Issues">contact@premierlawncarema.com</a> or give us a call at (508) 446-7504.</p>
									  <a href="#" class="close">&times;</a>
									</div>
								{% endif %}
							{% endmacro %}

							{% from _self import errorList %}

							{# Display our Contact Form #}
							{% include '_matrix/block-heading.html' %}

							<section class="section-contactform">
								{{ craft.sproutForms.displayForm('contact') }}
							</section>
							<p class="text-small text-italic mrg-bot-0">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.</p>

						{% endif %}

					</article>
	          
	      </div>
	      <div class="col-md-4 col-md-offset-1">

	      	<div class="line visible-xs visible-sm"></div>

					<section class="sidebar-contact">
						<aside class="widget mol mol-contact">
							<div class="contact">
								<img class="contact__img" src="http://placehold.it/370x312" alt="Mike Bouffard" />
								<h3 class="contact__name">Mike Bouffard <small>(Owner)</small></h3>
								<p class="contact__bio">“Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.”</p>
							</div>
							<h4 class="contact-info__hd">Contact Information</h4>
							<address class="contact-info__addy"><strong>Premier Lawn Care</strong> <br>PO Box 9 <br>Charlton, MA 01507</address>
							<abbr title="Phone Number">Phone:</abbr> (508) 446-7504	<br>
							<abbr title="Email">Email:</abbr> <a href="mike@premierlawncarema.com">mike@premierlawncarema.com</a>
							<div class="contact-social">
								<a href="#" class="social-icon si-dark si-small si-facebook">
								    <i class="icon-facebook"></i>
								    <i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon si-dark si-small si-twitter">
								    <i class="icon-twitter"></i>
								    <i class="icon-twitter"></i>
								</a>
							</div>
						</aside>
					</section>

	      </div>
	  </div>
	</div>	
{% endblock %}

{% block bottom %}
	{% include '_organisms/contact-gmap.html' %}
{% endblock %}