{% extends "_layout" %}
{% set pageClass = "tmpl-post" %}
{% set title = "Learn" %}
{% set titleTagline = "" %}

{% block pageMenu %}

{% endblock %}

{% block pageTitle %}
	{% include '_organisms/page-title-parallax-small.html' %}
{% endblock %}

{% block pageMenuUnder %}

{% endblock %}

{% block content %}
	<div class="container clearfix">
		<div class="row">
			<div class="col-md-8">

				<div class="single-post nobottommargin">

          <div class="entry clearfix">

              <div class="entry-title">
                  <h2>This is a Standard post with a Preview Image</h2>
              </div>

              <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 10th July 2014</li>
                  <li><a href="#"><i class="icon-user"></i> admin</a></li>
                  <li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
                  <li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li>
                  <li><a href="#"><i class="icon-camera-retro"></i></a></li>
              </ul>

              <div class="entry-image">
                  <a href="#"><img src="{{canvasImagesPath}}blog/full/1.jpg" alt="Blog Single"></a>
              </div>

              <div class="entry-content notopmargin">

                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

                  <p>Nullam id dolor id nibh ultricies vehicula ut id elit. <a href="#">Curabitur blandit tempus porttitor</a>. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>

                  <blockquote><p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p></blockquote>

                  <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.</p>

                  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. <a href="#">Nullam quis risus eget urna</a> mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

                  <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
                  <!-- Post Single - Content End -->

                  <div class="entry-link-list">
                      <span>Tags:</span>
                      {% for i in 0..5 %}
                      <a href="#">Tag name</a>{% if not loop.last %}, {% endif %} 
                      {% endfor %}
                  </div>

                  <div class="entry-link-list">
                      <span>Services:</span>
                      {% for i in 0..5 %}
                      <a href="#">Service name</a>{% if not loop.last %}, {% endif %} 
                      {% endfor %}
                  </div>

              </div>
          </div>          

          {% include '_molecules/share.html' %}
          {% include '_molecules/promo-large.html' %}
          {% include '_molecules/post-author.html' %}				
          {% include '_molecules/disqus.html' %}

      </div>

			</div>
			<div class="col-md-3 col-md-offset-1">
				{% include '_organisms/sidebar-blog.html' %}
			</div>
		</div>
	</div>
{% endblock %}

{% block bottom %}
	{% include '_organisms/home-cta.html' %}
{% endblock %}