<section class="section-block">
	<div class="row">
		<div class="medium-5 columns">
			<img class="img-mrg-bot" src="http://placehold.it/470x312" alt="Placeholder Image" />
		</div>
		<div class="medium-7 columns">
			<h2 class="hd-mrg-bot-sm">Heading</h2>
			<h4>Optional Sub Heading</h4>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
		</div>
	</div>
</section>